$primary-color: #0083ff;
.form-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .form {
    width: 60%;
    max-width: 900px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    background: white;
    -webkit-box-shadow: 1px 5px 15px 5px rgba(0, 0, 0, 0.5);
    box-shadow: 1px 5px 15px 5px rgba(0, 0, 0, 0.5);

    .text-field {
      border-color: $primary-color;
      outline-color: #0083ff;
      margin-top: 0;
    }

    .title {
      text-align: center;
      font-size: 1.8em;
      margin-top: 0;
    }

    .submit-button {
      margin-top: 12px;
      color: $primary-color;
      border-color: $primary-color;
    }

    .submit-button:hover {
      background: rgba(0, 131, 255, 0.1);
    }

    .field-error {
      color: red;
    }

    .submit-info {
      color: $primary-color;
    }
  }
}

.react-datepicker-wrapper {
  width: 100%;
}

.react-datepicker-wrapper {
  div {
    width: 100%;
  }
}
